#about_container{
    background-color: #B82132;
    width: 60vw;
    height: 100%;
    color:  #FADA7A;
    white-space: pre-line;
    padding: 20px;
    border-radius: 20px;
    font-family:'sf_cartoonist_handregular','Courier New', Courier, monospace;
}

#about_container p{
    text-align: justify;
}

#chibi_image{
    width: 300px;
    height: 300px;
}

.wobble{
    animation: wobble;
    animation-duration: 1s;
}

#chibi_image:hover{
    animation: bounce;
    animation-duration: 1s;
    cursor: pointer;
}

.speech_bubble {
	position: relative;
	background: #ffa348;
	border-radius: .4em;
    align-self: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.speech_bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-right-color: #ffa348;
	border-left: 0;
	border-bottom: 0;
	margin-top: -8.5px;
	margin-left: -17px;
}

.center{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    #chibi_image,
    .speech_bubble{
        width: 60%;
        height: 60%;
    }
}